.azureml-nav {
  font-family: "Segoe UI";
  line-height: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  min-height: inherit;
  background-color: #3c454f;
  border: 0px;

  .navbar-brand {
    height: 40px;
    margin-right: 11px;
    padding: 0;
    font-family: "Segoe UI light";
    font-size: 17px;
    color: #ffffff;
    line-height: 40px;
    &:hover {
      color: #ffffff;
    }
  }

  .navbar-text {
    padding: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .navbar-nav > li > a {
    padding: 11px;
  }

  .machine-learning {
    color: #71b1d1;
  }

  .site-links {
    font-size: 14px;

    .bar {
      width: 0;
      height: 16px;
      border-left: 1px solid #888e94;
      margin: 12px 9px;
    }

    a {
      color: #cccccc;
      line-height: 18px;
      &:hover {
      color: #ffffff;
      }
    }

    li.active a {
      color: #71b1d1;
      background-color: inherit;
      &:hover {
        background-color: inherit;
      }
    }

    li.site-link-gallery {
      float: left;
    }
    li.site-link-preview {
      float: left;
      a {
        margin-top: 7px;
        margin-left: -10px;
        padding: 1px 3px;
        color: #888;
        font-size: 10px;
        text-transform: uppercase;
      }
    }

  }
}

@media (max-width: 768px){
  .azureml-nav {
    padding: 0;

    .navbar-brand{
      margin-left: 5px;
      line-height: 50px;
    }

    .site-links .bar{
      display: none;
    }
  }
  .navbar-toggle {
    margin-right: 5px;
  }
}
